form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 50px auto;
  width: 100%;
  position: relative;
  
  margin-left: 50ch;
 
}

input {
  margin: 5px 0;
}

.text-danger{
  color: red;
  font-size: 20px;
}



.form input,
textarea {
  display: block;
  width: 50%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.8vw 0.8vw;
  border: 1;
  border-radius: 16px;
  font-size: 20px;
  margin-top: 7px;
  box-shadow: 3px 3px 3px rgb(189, 186, 186);
  border-color: black;
  background-color: transparent;
  color: black;
  
}

.form select,
textarea {
  display: block;
  width: 51.65%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 2vw 0.69vw;
  border: 1;
  border-radius: 16px;
  font-size: 20px;
  border-width: 2px;
  box-shadow: 3px 3px 3px rgb(189, 186, 186);
  color: grey;
  margin-top: 7px;
  margin-bottom: 10px;
  border-color: black;
  background-color: transparent;
 
}

button {
  display: inline-block;
  width: 40%;
  height: 35px;
  background-color: rgb(37, 37, 37);
  color:white;
  border: none;
  bottom: -25em;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 23%;
  margin-left: 7%;
  
  
}

.button {
  
  border-radius: 50px;
  padding: 10px 20px;
  
}

h2 {
  top: 50px;
  margin: auto;
  position: relative;
  margin-bottom: 60px;
  margin-left: 400px;
 
}

p {
  position: relative;
  margin: auto;
  width: 100%;
  text-align: left;
  margin-top: 5px;
  margin-left: 50px;
  margin-bottom: 20px;
  
}

@media screen and (max-width: 1000px) {

  h2 {
    margin-left: 100px;
    position: relative;
    max-width: 500px;
    
  }
  
  
  p {
    max-width: 350px;
    margin: 0 auto;
    margin-left: 10px;
    
  }
  
  
  form {
    width: 150%;
    margin: 0 auto;
    margin-top: 150px;
    position: center;
  }

  .form input,
textarea {
  width: 65%;
  margin: 20px;
  margin-left: 0.7%;
  height: 35px;
  margin-top: 8px;
  

}

  .form select,
textarea {
  width: 70%;
  margin-top: 1px;
  height: 55px;
}
.button {
  margin: 1rem 0 28rem 2.5rem;
  border-radius: 16px 16px 16px 16px;
  margin-left: 4.9ch;
  height: 55px;
  
}

button {
  top: 450px;
  margin-left: 9ch;
  
  
}

 
}





